/* Main stylings */

body {
  font-family: 'Montserrat', arial;
}

/* Classes changes */

.videoWrapper {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.textWrapper {
  width: 80%;
  margin: 3% auto 0;
  display: block;
}

.current {
 color: orange;
}

.videoWrapper .mejs__button,
.videoWrapper .mejs__time-current {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  color: #ffffff;
  background: orange;
  text-decoration: none;
}

.videoWrapper .mejs__button {
  display: block;
  margin: -3px 5px 0 5px;
}

/* Media queries */

@media (min-width: 768px) {

  body {
    margin-top: 5%;
  }

  .videoWrapper,
  .textWrapper {
    width: 800px;
  }

}
