/* Main stylings */

body {
  font-family: 'Montserrat', arial;
}

/* Classes changes */

.videoWrapper {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.textWrapper {
  width: 80%;
  margin: 3% auto 0;
  display: block;
}

.current {
 color: orange;
}

.mejs__player {
  background-color: lightblue;
}

/* Media queries */

@media (min-width: 768px) {

  body {
    margin-top: 5%;
  }

  .videoWrapper,
  .textWrapper {
    width: 800px;
  }

}
